<div class= "form-container">
  <div class="center-form">
    <%= form_with model: @task do |f| %>

      <div class="form-row-checkbox">
        <%= f.label :completed, class: "checkbox-label" %>
        <%= f.check_box :completed %> <!-- Add checkbox for the "completed" attribute -->
      </div>

      <div class="form-row">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="form-row">
        <%= f.label :details %>
        <%= f.text_area :details, rows: 6 %>
      </div>

      <div class="form-row">
        <%= f.submit "Edit Task", class: "create-button" %>
      </div>
    <% end %>


  <p><%= link_to "Back to task", task_path %></p>
  </div>
</div>
